<scection class="container">
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="row mb-3">
        {{ form_row(form.name) }}
    </div>
    <div class="row mb-3">
        {{ form_row(form.slug) }}
    </div>
    <div class="row mb-3">
        {{ form_row(form.category) }}
    </div>
    <div class="row mb-3">
        {{ form_row(form.description) }}
    </div>
    
    {% if app.request.attributes.get('_route') == 'app_trick_edit' %}
        <h2>images</h2>
                {% for image in trick.images %}
                    <div class="">
                        <img class="d-block w-100" src="{{ asset('images/tricks/mini/300x300-' ~ image.name) }}" alt="">
                        <div class="">
                            <a href="{{ path('app_trick_delete_image', {id: image.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ image.id)}}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </div>
                    </div> 
                {% endfor %}
    {% endif %}s
    <div class="row mb-3">
        {{ form_row(form.images) }}
    </div>
    <button class="btn btn-primary mt-3 my-8 py-2 px-12 hover:italic hover:bg-cyan-300">
            {{ button_label|default('Creer le trick') }}
    </button>
    {{ form_end(form) }}
</scection>
